<mat-card class="product-card">
    <div class="product-div">
        <div class="image-divs">
            <img src="product_image.jpg">
        </div>
        <div class="details-div">
            <h3>Product Name</h3>
            <h4>Original price: <i class="fa fa-inr">1000</i></h4>
            <h4>Current price: <i class="fa fa-inr">500</i></h4>
        </div>
        <div class="button-div">
            <a class="button" href="https://www.amazon.in" target="_blank"><button mat-raised-button color="primary">Buy now</button></a>
        </div>
    </div>
</mat-card>