mat-slider{
    width: 300px;
}
.section1{
    height: 30vh;
    background-image: url('src/assets/bgImages/processor.jpg');
    position: relative;
    background-size: cover;
    .selection-menu{
        background-color: white;
        position: absolute;
        width: 60%;
        left: 20%;
        bottom: -50px;
        .flex-even{
            display:flex;
            justify-content: space-evenly;
            .slider{
                display:flex;
                align-items: center;
            }
        }
    }
}

.section2{
    margin-top: 100px
}